<h1>Thank you for purchasing a ticket to: <%= @ticket.event_title %></h1>
  <p>
    Date: <%= @ticket.event_date %>
  </p>
  <p>
    Location: <%= @ticket.event_location %>
  </p>
  <p>
    Description: <%= @ticket.event_description %>
  </p>
<p>Enlightment is within reach!</p>